/* Data table ------------------------------ */

.purchase {
  @include table-scale($padding: 35px 0);

  &_content {
    @include table-scale($padding: 25px 0 0);
  }

  // Items
  &_item {
    color: $c-slate-500;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
  }

  // Headings
  &_heading {
    border-bottom: 1px solid $c-slate-50;
    padding-bottom: 8px;

    p {
      color: $c-slate-300;
      font-size: 12px;
      margin: 0;
    }
  }

  // Footer
  &_footer {
    border-top: 1px solid $c-slate-50;
    padding-top: 15px;
  }

  &_total {
    color: $c-gray-900;
    font-weight: bold;
    margin: 0;
    text-align: right;

    &--label {
      padding: 0 15px 0 0;
    }
  }
}
